$brand-main: #d36318;
$brand-text: #fbfbfb;
$brand-footer-text: #666;
$brand-dark: #1b0505;
$brand-dark-fade: #1b0505dc;
$brand-accent: lighten($brand-dark, 12%);
$brand-secondary: lighten($brand-accent, 20%);
