$brand-main: #ea8e45;
$brand-text: #fbfbfb;
$brand-footer-text: #e7b147;
$brand-dark: #08090a;
$brand-dark-fade: #08090adc;
$brand-accent: #e84d3d;
$alert-danger: #8f2b2bb0;
$alert-success: #40ad3dbd;
$brand-secondary: #df9e4a;
$brand-proceed: rgba(44, 145, 246, 0.897);
