@import '../../../sass/variables';

.section {
	min-height: 100vh;
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& .store_grid {
		display: grid;
		grid-template-columns: repeat(4, minmax(200px, 350px));
		gap: 1rem;
		margin: 2rem 0;
	}
}

@media screen and (max-width: 1500px) {
	.section {
		& .store_grid {
			margin-top: 1rem;
			column-count: 3;
			column-gap: 1rem;
		}
	}
}
