@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}

.item {
	background: #fff;
	box-shadow: 0 1px 15px darken(#fff, 15%);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	& .img_container {
		max-width: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		& img {
			object-fit: contain;
			max-width: 15rem;
		}
	}
	& .heading {
		border-bottom: 1px solid #eee;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		& p {
			font-weight: 400;
			color: $brand-dark;
			font-size: 1.2rem;
			text-transform: uppercase;
			max-width: 80%;
			text-align: center;
		}
	}

	& .price {
		display: flex;
		justify-content: center;
		width: 100%;
		& p {
			& span {
				color: $brand-secondary;
				font-size: 1.2rem;
				margin-right: 0.5rem;
			}
		}
	}
	& .actions {
		display: flex;
		margin: 1rem 0;
		width: 100%;
		& a {
			width: 100%;
		}
		& button {
			height: 3rem;
			width: 100%;
			background: $brand-dark;
			border: 1px solid $brand-dark;
			color: #fff;
			border-radius: 3px;
			&:hover {
				cursor: pointer;
				background: $brand-secondary;
				color: #fff;
				outline: 0px solid transparent;
				border: 1px solid $brand-secondary;
			}
		}
		& .in_cart {
			background: $brand-secondary;
			color: #fff;
			outline: 0px solid transparent;
			border: 1px solid $brand-secondary;
		}
	}
}

@media screen and (max-width: 900px) {
	.item {
		& .heading {
			min-height: auto;
			max-height: auto;
			align-items: center;
			& p {
				font-weight: 400;
				color: $brand-dark;
				font-size: 1.2rem;
				text-transform: uppercase;
				max-width: 80%;
				text-align: center;
			}
			& img {
				max-width: 60%;
			}
		}
		& .variations {
			display: flex;
			flex-direction: column;
			align-items: center;
			border-bottom: 1px solid #eee;
			padding: 1rem 0;
			position: relative;
			& .row {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				& p {
					color: $brand-secondary;
				}
				& button {
					background: #eee;
					border: 1px solid #eee;
					color: $brand-dark;
					margin-top: 0.5rem;
					margin-right: 0.5rem;
					height: 2.5rem;
					transition: all 0.3s ease;
					&:hover {
						cursor: pointer;
						background: $brand-secondary;
						color: #fff;
						outline: 0px solid transparent;
						border: 1px solid $brand-secondary;
					}
					&:focus {
						outline: 0px solid transparent;
					}
				}
				& ul {
					display: flex;
					flex-wrap: wrap;
					width: 100%;
					padding: 0;
					align-items: flex-start;
					justify-content: flex-start;
					& li {
						list-style: none;
						padding: 0.5rem 1rem;
						background: #eee;
						border-radius: 3px;
						margin: 0.5rem;
						text-transform: uppercase;
						font-size: 0.7rem;
					}
				}
			}
		}
		& .price {
			width: 100%;
			display: flex;
			justify-content: center;
			& p {
				& span {
					color: $brand-secondary;
					font-size: 1.2rem;
					margin-right: 0.5rem;
				}
			}
		}
		& .actions {
			display: flex;
			margin: 1rem 0;
			width: 100%;
			& a {
				width: 100%;
			}
			& button {
				height: 3rem;
				width: 100%;
				background: $brand-dark;
				border: 1px solid $brand-dark;
				color: #fff;
				&:hover {
					cursor: pointer;
					background: $brand-secondary;
					color: #fff;
					outline: 0px solid transparent;
					border: 1px solid $brand-secondary;
				}
			}
			& .in_cart {
				background: $brand-secondary;
				color: #fff;
				outline: 0px solid transparent;
				border: 1px solid $brand-secondary;
			}
		}
	}
}
