@import '../../../sass/variables';

.section {
	min-height: 100vh;
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& .store_grid {
		margin: 4rem;
		margin-top: 2rem;
		column-count: 4;
		column-gap: 2rem;
		column-width: 25%;
	}
}

@media screen and (max-width: 1500px) {
	.section {
		& .store_grid {
			margin-top: 2rem;
			column-count: 3;
			column-gap: 2rem;
			column-width: 25%;
		}
	}
}
