@import '../../../sass/variables';

.section {
	min-height: 100vh;
	background: #eee;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& .store_grid {
		display: grid;
		grid-template-columns: repeat(5, minmax(200px, 350px));
		gap: 1rem;
		margin: 2rem 0;
	}
}

@media screen and (max-width: 1500px) {
	.section {
		& .store_grid {
			margin-top: 1rem;
			grid-template-columns: repeat(4, minmax(200px, 300px));
		}
	}
}

@media screen and (max-width: 900px) {
	.section {
		& .store_grid {
			grid-template-columns: repeat(3, minmax(250px, 300px));
		}
	}
}
@media screen and (max-width: 750px) {
	.section {
		& .store_grid {
			grid-template-columns: repeat(2, minmax(45vw, 45vw));
		}
	}
}

@media screen and (max-width: 550px) {
	.section {
		& .store_grid {
			grid-template-columns: repeat(1, minmax(90vw, 90vw));
		}
	}
}
