@import '../../../../sass/variables';

.alert_box {
	width: 100%;
	border-radius: 2px;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;

	& p {
		color: #fff !important;
	}
}
.danger {
	background: $alert-danger;
	box-shadow: 0 1px 10px $alert-danger;
}
.success {
	background: $alert-success;
	box-shadow: 0 1px 10px $alert-success;
}
