@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}

.header {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	align-items: center;
	justify-content: center;
	background: #000;
	overflow: hidden;
	perspective: 2000px;

	& .inner {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.8s;
		transform-style: preserve-3d;

		& .container {
			height: 100%;
			width: 100%;
			background: url('https://res.cloudinary.com/snackmanproductions/image/upload/q_63/v1592860362/crash/album_art_full_1_oxpvqy.jpg');
			-webkit-backface-visibility: hidden; /* Safari */
			backface-visibility: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			padding: 2rem;
			position: absolute;
			& .logo_box {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin: 1rem;
				& svg {
					width: 15rem;
				}
			}
			& .box {
				margin-top: 5rem;
				display: flex;
				flex-direction: column;
				align-items: center;

				& h1 {
					font-family: ltc-pabst-oldstyle, serif;
					font-weight: 400;
					font-style: normal;
					font-size: 5rem;
					color: #000;
					margin: 0.5rem 0;
				}
				& p {
					font-family: 'Reg';
					font-size: 1.4rem;
					font-weight: 100;
					opacity: 0.6;
				}
				& a {
					margin-top: 3rem;
					& button {
						height: 3.5rem;
						width: 15rem;
						font-size: 1rem;
						font-family: 'Reg';
						background: #000;
						color: #eee;
						box-shadow: 0 1px 10px #000;
						border: 0;
						transition: all 0.3s ease;

						&:hover {
							cursor: pointer;
							box-shadow: 0 1px 25px #000;
							background: #000;
							color: #eee;
						}
						&:focus {
							outline: 1px solid rgb(218, 113, 15);
						}
					}
				}
			}
			& .reverse_btn {
				position: absolute;
				bottom: 5%;
				right: 2%;
				-webkit-backface-visibility: hidden; /* Safari */
				backface-visibility: hidden;
				background: transparent;
				border: 0;
				font-family: 'Reg';
				transition: all 0.3s ease;
				&:hover {
					cursor: pointer;
					color: #eee;
				}
			}
		}

		& .reverse_container {
			background: url('https://res.cloudinary.com/snackmanproductions/image/upload/q_65/v1592860464/crash/album_art_full_1_ui2wtd.jpg');
			-webkit-backface-visibility: hidden; /* Safari */
			backface-visibility: hidden;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: -100% 50%;
			padding: 2rem;
			position: absolute;
			transform: rotateY(180deg);
			z-index: 2;
			& .logo_box {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				& svg {
					width: 15rem;
				}
				& p {
					font-family: 'Crash';
					font-size: 2rem;
				}
			}
			& .box {
				margin-top: 5rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				& h1 {
					font-family: ltc-pabst-oldstyle, serif;
					font-weight: 400;
					font-style: normal;
					font-size: 5rem;
					color: #000;
					margin: 0.5rem 0;
				}
				& p {
					font-family: 'Reg';
					font-size: 1.4rem;
					font-weight: 100;
					opacity: 0.6;
				}
				& a {
					margin-top: 3rem;
					& button {
						height: 3.5rem;
						width: 15rem;
						font-size: 1rem;
						font-family: 'Reg';
						background: #000;
						color: #eee;
						box-shadow: 0 1px 10px #000;
						border: 2px solid rgba(218, 113, 15, 0.5);
						transition: all 0.3s ease;

						&:hover {
							cursor: pointer;
							box-shadow: 0 1px 25px #000;
							background: #000;
							color: #eee;
						}
						&:focus {
							outline: 1px solid rgb(218, 113, 15);
						}
					}
				}
			}
			& .reverse_btn {
				position: absolute;
				bottom: 5%;
				right: 2%;
				-webkit-backface-visibility: hidden; /* Safari */
				backface-visibility: hidden;
				background: transparent;
				border: 0;
				font-family: 'Reg';
				transition: all 0.3s ease;
				&:hover {
					cursor: pointer;
					color: #eee;
				}
			}
		}
	}
}

.header_reverse .inner {
	transform: rotateY(180deg);
}
