@import '../../../sass/variables';

.overlay,
.hidden {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
	background: linear-gradient(-45deg, $brand-main, $brand-secondary, $brand-accent);
	background-size: 400% 400%;
	z-index: 9999999999999999999;
	top: 0;
	left: 0;
	transition: all 1.5s ease;
	-webkit-animation: background 30s ease infinite;
	-moz-animation: background 30s ease infinite;
	animation: background 30s ease infinite;
	& .inner {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: 100%;
		position: relative;
		& img {
			object-fit: contain;
			width: 100%;
			max-width: 30rem;
		}
		& button {
			width: 14rem;
			background: transparent;
			color: #fff;
			padding: 1rem;
			font-size: 1rem;
			border: 0;
			border-radius: 3px;
			text-transform: uppercase;
			font-weight: 700;
			transition: all 0.3s ease-in-out;
			letter-spacing: 2px;
			animation: bg-color 60s ease infinite;
			&:hover {
				cursor: pointer;
				color: #fff;
				box-shadow: 0 1px 20px $brand-accent;
			}
		}
	}
}
.hidden {
	opacity: 0;
	visibility: hidden;
	display: flex;
}
.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background: #000;
	& .video_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 7rem;
		margin-bottom: 5rem;
		width: 90%;
		height: 50rem;
		display: flex;
		& h2 {
			color: #fff;
			font-size: 3rem;
			font-family: ltc-pabst-oldstyle, serif;
			font-weight: 100;
			font-style: normal;
		}
	}
	& .img_container {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
		width: 100%;
		margin-top: 2rem;
		& a {
			text-decoration: none;
			color: #fff;
			font-size: 3rem;
			font-family: ltc-pabst-oldstyle, serif;
			font-weight: 100;
			font-style: normal;
		}
		& .bg_img {
			margin-top: 2rem;
			width: 90%;
			height: 50rem;
			background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1602550027/crash/devilsartwork-notext-Recovered_ux9ekx.png');
			background-position: 50% 60%;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			transition: all 0.3s ease;
			display: flex;
			justify-content: center;
			align-items: center;
			&::before {
				position: absolute;
				content: 'View Store';
				font-size: 5rem;
				color: #fff;
				opacity: 0;
				transition: all 0.6s ease;
				width: 100%;
				font-family: ltc-pabst-oldstyle, serif;
				font-weight: 100;
				font-style: normal;
				display: flex;
				justify-content: center;
				transform: translateY(30vh);
			}
			&:hover {
				filter: grayscale(1);
				&::before {
					opacity: 1;
					cursor: pointer;
					transform: translateY(0);
				}
			}
			& a {
				height: 100%;
				width: 100%;
				display: block;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}

@media screen and (max-width: 750px) {
	.section {
		& .video_container {
			& h2 {
				font-size: 2rem;
				text-align: center;
			}
		}
		& .img_container {
			& a {
				font-size: 2rem;
				text-align: center;
			}
			& .bg_img {
				margin-top: 2rem;
				width: 90%;
				height: 100vh;
				background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1603244166/crash/devilsartwork-mobile_n5bbvm.jpg');
				background-position: 52% 30%;
				background-size: cover;
			}
		}
	}
}

@-webkit-keyframes background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes background {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes bg-color {
	0% {
		background: $brand-dark;
	}
	25% {
		background: $brand-secondary;
	}
	50% {
		background: $brand-accent;
	}
	75% {
		background: $brand-main;
	}
	100% {
		background: $brand-dark;
	}
}
