@import '../../../sass/variables';

.section {
	background: $brand-dark;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	& .video_grid {
		max-width: 100%;
		margin: 15vh 0;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		& .video_container {
			width: 100%;
			border: 2px solid $brand-dark;
			height: 15rem;
			max-width: 25rem;
			& iframe {
				height: 100%;
				width: 100%;
			}
		}
	}
}
