@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}

.header {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 0rem;
	& .overlay {
		position: absolute;
		top: -10%;
		left: 0;
		min-height: 100%;
		min-width: 100%;
		height: 110%;
		width: 100%;
		z-index: 2;
		display: block;
		animation: fadeIn 2s linear forwards;
	}
	& .border_bottom {
		width: 100%;
		height: 10rem;
		position: absolute;
		bottom: 0%;
		left: 0;
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1624138503/crash/crash-border_cm6l4i.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 4;
	}
	& .img_container {
		width: 100%;
		display: flex;
		justify-content: center;
		& img {
			z-index: 5;
			max-width: 90%;
			filter: invert(100%) brightness(100%);
			object-fit: contain;
			margin: 0 1rem;
		}
	}

	& .actions {
		z-index: 2;
		display: grid;
		grid-template-columns: repeat(5, auto);
		justify-items: center;
		align-items: center;
		gap: 1rem;
		& a {
			font-size: 1.5rem;
			color: $brand-text;
			text-decoration: none;
		}
		& span {
			color: $brand-text;
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 700px) {
	.header {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		position: relative;
		overflow: hidden;
	}
}

@keyframes fadeIn {
	0% {
		background: #000;
		opacity: 1;
	}
	100% {
		background: $brand-main;
		opacity: 0.2;
	}
}
