@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}

.main_container {
	display: flex;
	flex-direction: column;
	padding-top: 6rem;
	overflow: hidden;
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_53,w_2378/v1590459306/crash/cristian-guanipa-DhnnfJnjb7I-unsplash_whnct7.jpg');
	background-size: cover;
	background-attachment: fixed;
}
