@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}

.main_container {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1602459985/crash/ctc-header_dspscd.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position:center;
}
