@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}
.box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 4rem 0;
	min-height: 100vh;
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1602205433/crash/ctc-hero_wzgquw.jpg');
	background-size: cover;
	background-position: center;
	&::before {
		content: '';
		height: 100%;
		width: 100%;
		display: block;
		background: #e84d3d;
		position: absolute;
		top: 0;
		opacity: 0.5;
		left: 0;
	}
	& .heading {
		z-index: 2;
		display: flex;
		flex-direction: column;
		align-items: center;
		& p {
			z-index: 5;
			text-decoration: none;
			color: $brand-text;
			font-family: ltc-pabst-oldstyle, serif;
			font-weight: 100;
			font-style: normal;
			font-size: 2.5rem;
			transition: all 0.3s ease;
			text-transform: uppercase;
		}
	}

	& .border_top {
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1624138380/crash/crash-border-top_jl87vx.png');
		background-size: cover;
		background-position: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 10rem;
	}
	& .border_bottom {
		width: 100%;
		height: 10rem;
		position: absolute;
		bottom: 0%;
		left: 0;
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1624138503/crash/crash-border_cm6l4i.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	& .grid {
		z-index: 5;
		display: grid;
		grid-template-columns: 1fr;
		align-items: center;
		grid-template-rows: auto;
		margin: 2rem;
		& .embeds {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			min-height: 25rem;
			& .iframe_container {
				background: $brand-dark;
				display: flex;
				flex-direction: column;
				align-items: center;
				min-height: 50vh;
				box-shadow: 0 1px 5px $brand-dark;
				margin: 2rem;
				width: 100%;
				width: 30vw;
				border-radius: 3px;
				& .col {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					margin: 1rem;
					width: 100%;
					padding: 0 1rem;
					& a {
						font-size: 1rem;
						font-family: 'Lato', sans-serif, Arial, Helvetica, sans-serif;
						color: $brand-text;
						text-decoration: none;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						text-align: center;
						&::after {
							height: 2px;
						}
						& svg {
							font-size: 2rem;
							color: $brand-main;
						}
					}
				}
				& iframe {
					box-shadow: 0 1px 5px darken($brand-dark, 5%);
					overflow: hidden;
					height: 40vh;
					width: 100%;
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.box {
		& .heading {
			& p {
				z-index: 5;
				font-size: 6vw;
				max-width: 80%;
				text-align: center;
			}
		}

		& .grid {
			z-index: 5;
			display: grid;
			grid-template-columns: 1fr;
			align-items: center;
			grid-template-rows: auto;
			margin: 2rem;
			& .embeds {
				display: flex;
				justify-content: space-around;
				flex-wrap: wrap;
				min-height: 25rem;
				& .iframe_container {
					background: $brand-dark;
					display: flex;
					flex-direction: column;
					align-items: center;
					min-height: 0;
					height: auto;
					box-shadow: 0 1px 5px $brand-dark;
					margin: 2rem;
					width: 80vw;
					max-width: 90%;
					& .col {
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						height: auto;
						margin: 1rem;
						width: 100%;
						max-width: 90%;
						padding: 0 1rem;
					}
					& iframe {
						box-shadow: 0 1px 5px darken($brand-dark, 5%);
						overflow: hidden;
						min-height: 400px;
					}
				}
			}
		}
	}
}
