@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}
.box {
	width: 100%;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 100vh;
	& a {
		z-index: 5;
		text-decoration: none;
		color: $brand-text;
		font-family: ltc-pabst-oldstyle, serif;
		font-weight: 100;
		font-style: normal;
		font-size: 5.5rem;
		transition: all 0.3s ease;
		text-transform: uppercase;
		&::after {
			content: '';
			width: 0%;
			display: block;
			height: 4px;
			background: transparent;
			transition: all 0.3s ease;
		}
		&:hover {
			cursor: pointer;
			&::after {
				content: '';
				width: 100%;
				display: block;
				height: 4px;
				background: $brand-text;
			}
		}
	}
	& .container {
		display: flex;
		justify-content: center;
		z-index: 5;
		position: relative;
		margin-top: 2rem;
		& img {
			max-width: 30rem;
		}
		& img:nth-of-type(1) {
			transform: translate(10rem, 0);
		}
		& img:nth-of-type(2) {
			z-index: 2;
			transform: translate(0rem, 10rem);
		}
		& img:nth-of-type(3) {
			z-index: 0;
			transform: translate(-10rem, 0);
		}
	}
}
