@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}
.box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	min-height: 100vh;
	background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1600733769/crash/ctc-hero_n6mhxg.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& a {
		z-index: 5;
		text-decoration: none;
		color: $brand-text;
		font-family: ltc-pabst-oldstyle, serif;
		font-weight: 100;
		font-style: normal;
		font-size: 5.5rem;
		transition: all 0.3s ease;
		text-transform: uppercase;
		&::after {
			content: '';
			width: 0%;
			display: block;
			height: 4px;
			background: transparent;
			transition: all 0.3s ease;
		}
		&:hover {
			cursor: pointer;
			&::after {
				content: '';
				width: 100%;
				display: block;
				height: 4px;
				background: $brand-text;
			}
		}
	}
	& .container {
		display: flex;
		justify-content: center;
		z-index: 5;
		position: relative;
		margin-top: 2rem;
	}
}
@media screen and (max-width: 1000px) {
	.box {
		background: url('https://res.cloudinary.com/snackmanproductions/image/upload/v1600734688/crash/ctc-hero-mobile_qlkkjz.jpg');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
		min-height: 100vh;
		justify-content: flex-start;
		padding: 2rem 0;
		& a {
			font-size: 8vw;
			text-align: center;
		}
		& .container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
}
