@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}
.box {
	width: 100%;
	padding: 4rem 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	overflow: hidden;
	background: $brand-dark-fade;
	min-height: 100vh;
	& a {
		z-index: 5;
		text-decoration: none;
		color: $brand-text;
		font-family: ltc-pabst-oldstyle, serif;
		font-weight: 100;
		font-style: normal;
		font-size: 2.5rem;
		transition: all 0.3s ease;
		text-transform: uppercase;
		&::after {
			content: '';
			width: 0%;
			display: block;
			height: 4px;
			background: transparent;
			transition: all 0.3s ease;
		}
		&:hover {
			cursor: pointer;
			&::after {
				content: '';
				width: 100%;
				display: block;
				height: 4px;
				background: $brand-text;
			}
		}
	}
	& .video_grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		width: 60vw;
		height: 50vh;
		margin-top: 2rem;
		& .video_container {
			width: 100%;
			& iframe {
				width: 100%;
				height: 100%;
			}
		}
	}
}
