@import "../../sass/variables";

@font-face {
  font-family: "Crash";
  src: url("../../fonts/fairwater_sailor_serif.otf");
}
@font-face {
  font-family: "Reg";
  src: url("../../fonts/OldGrowth-Regular.otf");
}
.box {
  width: 100%;
  padding: 8rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: lighten($brand-dark, 5%);
  margin: -6rem;
  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_59,w_2553/v1625946533/crash/grungebg_ojb0nx.png");
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    z-index: 0;
    opacity: 0.2;
  }
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7rem 0;
    z-index: 4;
    & .img_container {
      max-width: 20rem;
      & img {
        width: 500px;
      }
    }
    & h2 {
      font-size: 3rem;
      color: $brand-accent;
      font-weight: 100;
    }
    & form {
      & .input_row {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 1rem;
        height: 3rem;
        & input {
          width: 20rem;
          padding: 0 0.5rem;
          border: 1px solid #eee;
          background: #eee;
          color: $brand-accent;
          border-radius: 3px;
          &::placeholder {
            color: $brand-dark;
          }
        }
        & button {
          width: 10rem;
          font-size: 1rem;
          border: 2px solid $brand-accent;
          text-transform: uppercase;
          background: transparent;
          color: $brand-accent;
          transition: all 0.3s ease;
          border-radius: 3px;
          &:hover {
            cursor: pointer;
            background: $brand-accent;
            color: $brand-text;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .box {
    padding: 4rem 0 8rem 0;
    clip-path: polygon(0 4%, 100% 0%, 100% 100%, 0% 100%);
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      background: url("https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_59,w_2553/v1625946533/crash/grungebg_ojb0nx.png");
      bottom: 0%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      left: 0;
      z-index: 0;
      opacity: 0.5;
    }
    & .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 7rem 0;
      & .img_container {
        max-width: 10rem;
      }
      & h2 {
        font-size: 8vw;
        text-align: center;
      }
      & form {
        & .input_row {
          display: grid;
          grid-template-columns: repeat(2, auto);
          gap: 0.4rem;
          height: 2.7rem;
          & input {
            width: 60vw;
            padding: 0;
            border: 2px solid $brand-text;
            background: $brand-text;
            color: $brand-accent;
          }
          & button {
            width: 30vw;
            font-size: 1rem;
            border: 2px solid $brand-accent;
            text-transform: uppercase;
            background: transparent;
            color: $brand-accent;
            transition: all 0.3s ease;
            &:hover {
              cursor: pointer;
              background: $brand-accent;
              color: $brand-text;
            }
          }
        }
      }
    }
  }
}
