@import "../../sass/variables";

@font-face {
  font-family: "Crash";
  src: url("../../fonts/fairwater_sailor_serif.otf");
}
@font-face {
  font-family: "Reg";
  src: url("../../fonts/OldGrowth-Regular.otf");
}

.header {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 0rem;
  padding-top: 6rem;
  & .img_container {
    width: 100%;
    display: flex;
    justify-content: center;
    & img {
      z-index: 5;
      max-width: 90%;
      filter: invert(100%) brightness(100%);
      object-fit: contain;
      margin: 0 1rem;
    }
  }
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_58,w_2134/v1625521315/crash/grunge_wnmmoq.png");
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    z-index: 0;
    opacity: 0.2;
  }

  & .actions {
    z-index: 2;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-items: center;
    align-items: center;
    gap: 1rem;
    & a {
      font-size: 1.5rem;
      color: $brand-text;
      text-decoration: none;
    }
    & span {
      color: $brand-text;
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}

@keyframes fadeIn {
  0% {
    background: #000;
    opacity: 1;
  }
  100% {
    background: #666;
    opacity: 0.5;
  }
}
