@import "../../sass/variables";
@font-face {
  font-family: "Crash";
  src: url("../../fonts/fairwater_sailor_serif.otf");
}
@font-face {
  font-family: "Reg";
  src: url("../../fonts/OldGrowth-Regular.otf");
}

.box {
  width: 100%;
  padding: 4rem 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: visible;
  background: #000;
  margin: -6rem;
  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_59,w_2553/v1625946533/crash/grungebg_ojb0nx.png");
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    z-index: 0;
    opacity: 0.3;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #e84d3d22;
  }

  & .heading {
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      z-index: 5;
      color: $brand-text;
      font-family: ltc-pabst-oldstyle, serif;
      font-weight: 100;
      font-style: normal;
      font-size: 3.5rem;
      transition: all 0.3s ease;
      text-transform: uppercase;
      position: relative;
      z-index: 3;
      &::after {
        content: "";
        position: absolute;
        width: 110%;
        height: 110%;
        top: 0;
        left: -6%;
        background: $brand-accent;
        z-index: -1;
        transform: rotate(1deg);
      }
    }
  }
  & .actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 2rem;
    z-index: 4;
    & a {
      & button {
        width: 10rem;
        background: transparent;
        overflow: visible;
        border: 0px solid transparent;
        color: #fbfef9;
        margin: 0.5rem 0;
        border-radius: 3px;
        text-transform: uppercase;
        transition: all 0.3s ease;
        font-weight: 400;
        font-size: 1.2rem;
        position: relative;
        z-index: 2;
        &:hover {
          cursor: pointer;
          box-shadow: 0 0 0 0 darken($brand-dark, 5%);
          &::after {
            max-height: 100%;
          }
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          max-height: 50%;
          bottom: 0%;
          left: 0;
          background: $brand-accent;
          transform: rotate(1deg);
          z-index: -1;
          transition: all 0.3s ease-in-out;
        }
      }
    }
  }
  & .events_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2rem;
    width: 70%;
    min-width: 30rem;
    margin-top: 2rem;
    z-index: 6;
  }
}

@media screen and (max-width: 1000px) {
  .box {
    margin: -8rem;
    clip-path: polygon(0 5%, 100% 0%, 100% 100%, 0% 100%);
    & .heading {
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      & h2 {
        font-size: 6vw;
        text-align: center;
      }
    }
    & .actions {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      width: 90%;
      & a {
        display: flex;
        justify-content: center;
        text-decoration: none;
      }
      & button {
        margin: 0.5rem 0;
        width: 16rem;
      }
    }
    & .events_container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      gap: 2rem;
      width: 80%;
      margin-top: 2rem;
    }
    & button {
      width: 15rem;
    }
  }
}
