@import "../../sass/variables";

@font-face {
  font-family: "Crash";
  src: url("../../fonts/fairwater_sailor_serif.otf");
}
@font-face {
  font-family: "Reg";
  src: url("../../fonts/OldGrowth-Regular.otf");
}
.box {
  width: 100%;
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  margin: -6rem;
  background: #000;
  clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("https://res.cloudinary.com/snackmanproductions/image/upload/c_scale,q_59,w_2553/v1625946533/crash/grungebg_ojb0nx.png");
    bottom: 0%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    left: 0;
    z-index: 0;
    opacity: 0.3;
  }
  & a {
    z-index: 5;
    text-decoration: none;
    color: $brand-text;
    font-family: ltc-pabst-oldstyle, serif;
    font-weight: 100;
    font-style: normal;
    font-size: 2.5rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 3;
    &::before {
      content: "";
      position: absolute;
      width: 110%;
      height: 110%;
      top: 0;
      left: -6%;
      background: $brand-main;
      z-index: -1;
      transform: rotate(-1deg);
    }
    &:hover {
      cursor: pointer;
    }
  }

  & .wide_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    z-index: 4;
    & button {
      background: transparent;
      border: 0;
      & svg {
        font-size: 3rem;
        color: #eee;
        transition: all 0.3s ease;
        &:hover {
          cursor: pointer;
          color: $brand-main;
        }
      }
      &:focus {
        outline: 1px solid transparent;
      }
    }
    & .video_grid {
      display: flex;
      gap: 1rem;
      width: 70vw;
      height: 70vh;
      margin: 2rem 0;
      overflow: hidden;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        height: 0;
        display: none;
      }
      & .videos {
        width: 100%;
        display: flex;
        transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);

        & .video_container {
          max-width: 70vw;
          width: 70vw;
          scroll-snap-align: start;
          & iframe {
            width: 70vw;
            height: 100%;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .box {
    width: 100%;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 50vh;
    & a {
      z-index: 5;
      text-align: center;
      font-size: 6vw;
      max-width: 80%;
    }
    &::before {
      opacity: 0.7;
    }
    & .wide_box {
      width: 100%;
      background: $brand-dark;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 1rem 0;
      padding: 1rem;
      & button {
        background: transparent;
        border: 0;
        padding: 0;
        & svg {
          font-size: 2rem;
          color: #eee;
          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            color: $brand-main;
          }
        }
        &:focus {
          outline: 1px solid transparent;
        }
      }
      & .video_grid {
        display: flex;
        gap: 1rem;
        width: 80vw;
        height: 40vh;
        margin: 2rem 0;
        overflow: hidden;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        &::-webkit-scrollbar {
          height: 0;
          display: none;
        }
        & .videos {
          width: 100%;
          display: flex;
          transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1);

          & .video_container {
            max-width: 80vw;
            width: 80vw;
            scroll-snap-align: start;
            & iframe {
              width: 80vw;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
