@import "../../../sass/variables";

.item {
  border-bottom: 1px solid #eee;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  & img {
    object-fit: contain;
    width: 5rem;
    margin: 1rem 0;
  }
  & .content {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 0.5rem;
    border-top: 0;
    border-bottom: 0;
    width: 100%;
    & p {
      color: #666;
      font-size: 0.89rem;
      margin: 0.5rem 0;
    }
  }
  & .btns {
    display: flex;
    flex-direction: column;
    & .update {
      margin: 1rem 0;
      & button {
        border: 1px solid #eee;
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 0.7rem;
        width: 100%;
        color: #bbb;
        &:hover {
          color: $brand-proceed;
        }
      }
    }
    & .remove {
      & button {
        border: 1px solid #eee;
        color: #bbb;
        border-radius: 3px;
        padding: 0.5rem;
        font-size: 0.7rem;
        width: 100%;
      }
    }
  }
}
