.total_display {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	& .inner {
		width: 90%;
		& p {
			font-size: 1rem;
			width: 100%;
			margin: 0;
			padding: 1rem 0;
			display: flex;
			justify-content: flex-end;
			& span {
				text-transform: uppercase;
				font-weight: 700;
			}
		}
		& p:nth-child(1) {
			border-bottom: 1px solid #eee;
		}
	}
}

@media screen and (max-width: 900px) {
	.total_display {
		& .inner {
			& p {
				justify-content: flex-start;
				& span {
					text-transform: uppercase;
					font-weight: 700;
				}
			}
		}
	}
}
