@import '../../../../sass/variables';

.saved_info {
	height: 100%;
	width: 100%;
	background: #fbfbfb;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	& h1 {
		font-size: 3rem;
	}
	& button {
		min-width: 15rem;
		background: $brand-dark;
		color: #fff;
		border: 0;
		height: 3.5rem;
		transition: all 0.3s ease;
		font-size: 1.2rem;
		&:hover {
			box-shadow: 0 1px 10px $brand-dark;
			cursor: pointer;
		}
	}
}
