@import "../../sass/variables";

.alert_box {
  width: 100%;
  min-height: 5vh;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  border-radius: 3px;
  top: 0;
  left: 0;
  z-index: 999;
  & .container {
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    & p {
      color: #fff;
      font-size: 1rem;
    }
  }
}
.success {
  background: $alert-success;
}
.danger {
  background: $alert-danger;
}
