.spinner {
	display: block;
	height: 4rem;
	width: 4rem;
	border: 1.5px solid transparent;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	border-radius: 50%;
	animation: spin 0.5s cubic-bezier(1, 0, 0, 1) infinite;
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}
