@import '../../../sass/variables';

.footer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 1rem;
	background: lighten($brand-dark, 1%);
	justify-items: center;
	padding: 2rem;
	& .col {
		display: flex;
		flex-direction: column;
		& h3 {
			color: $brand-text;
			opacity: 0.5;
			font-weight: 700;
			font-size: 1.1rem;
			text-transform: uppercase;
		}
		& a {
			text-decoration: none;
			color: $brand-text;
			font-size: 1rem;
			&:hover {
				color: $brand-main;
			}
		}
		& .social {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 0.5rem;
			& svg {
				text-decoration: none;
				color: $brand-text;
				font-size: 1.5rem;
				padding: 0.5rem;
				border-radius: 50%;
				background: lighten($brand-dark, 5%);
			}
		}
	}
	& .logo {
		display: flex;
		flex-direction: column;
		& img {
			max-width: 4rem;
			margin-right: 0.5rem;
		}
		& a {
			text-decoration: none;
			color: $brand-text;
			font-size: 1rem;
			display: flex;
			align-items: center;
		}
	}
}

@media screen and (max-width: 750px) {
	.footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem 0;
		& .col {
			display: flex;
			flex-direction: column;
			align-items: center;
			& h3 {
				color: $brand-text;
				opacity: 0.5;
				font-weight: 700;
				font-size: 1.6rem;
				text-transform: uppercase;
			}
			& a {
				text-decoration: none;
				color: $brand-text;
				font-size: 1.2rem;
				&:hover {
					color: $brand-main;
				}
			}
			& svg {
				text-decoration: none;
				color: $brand-text;
				font-size: 1.5rem;
				padding: 0.5rem;
				margin: 0 0.5rem;
				border-radius: 50%;
				background: lighten($brand-dark, 5%);
			}
		}
		& .logo {
			display: flex;
			flex-direction: column;
			& img {
				max-width: 7rem;
				margin-right: 0.5rem;
			}
			& a {
				text-decoration: none;
				color: $brand-text;
				font-size: 1rem;
				display: flex;
				align-items: center;
			}
		}
	}
}
