@import "../../sass/variables";

@font-face {
  font-family: "Crash";
  src: url("../../fonts/fairwater_sailor_serif.otf");
}
@font-face {
  font-family: "Reg";
  src: url("../../fonts/OldGrowth-Regular.otf");
}

.item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 0 1px rgba(238, 238, 238, 0.493);
  transition: all 0.3s ease;
  background: #fff;
  &:hover {
    box-shadow: 0 1px 30px rgba(146, 146, 146, 0.479);
    transform: translateY(-2vh);
  }
  & .img_container {
    max-width: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: #eee;
    & a {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &:hover {
      cursor: pointer;
    }
    & img {
      object-fit: contain;
      max-width: 12rem;
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 100%;
    }
  }
  & .heading {
    border-bottom: 1px solid #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & p {
      font-weight: 900;
      color: $brand-dark;
      font-size: 1.2rem;
      text-transform: uppercase;
      max-width: 80%;
      z-index: 2;
      padding: 0.5rem;
      position: relative;
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        bottom: 5px;
        left: 0;
        background: $brand-main;
        opacity: 0.2;
        width: 100%;
        height: 10px;
      }
    }
  }

  & .price {
    display: flex;
    width: 100%;
    & p {
      & span {
        color: $brand-secondary;
        font-size: 1.2rem;
        margin-right: 0.5rem;
      }
    }
  }
  & .actions {
    display: flex;
    margin: 1rem 0;
    width: 100%;

    & a {
      color: $brand-dark;
      transition: all 0.3s ease-in-out;
      padding: 0.5rem 2rem;
      position: relative;
      z-index: 1;
      color: #fff;
      text-decoration: none;

      &:hover {
        cursor: pointer;
        background: $brand-secondary;
        color: #fff;
        outline: 0px solid transparent;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background: $brand-main;
        box-shadow: 0 0 0 3px #ea8e4524;
        width: 100%;
        height: 100%;
        transform: rotate(-1deg);
      }
    }
    & .in_cart {
      background: $brand-secondary;
      color: #fff;
      outline: 0px solid transparent;
      border: 1px solid $brand-secondary;
    }
  }
}

@media screen and (max-width: 900px) {
  .item {
    & .img_container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      & img {
        max-width: 60%;
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-height: 100%;
      }
    }
    & .heading {
      min-height: auto;
      max-height: auto;
      align-items: center;
      height: 100%;
      & p {
        font-weight: 400;
        color: $brand-dark;
        font-size: 1.2rem;
        text-transform: uppercase;
        max-width: 80%;
        text-align: center;
      }
    }
    & .variations {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-bottom: 1px solid #eee;
      padding: 1rem 0;
      position: relative;
      & .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & p {
          color: $brand-secondary;
        }
        & button {
          background: #eee;
          border: 1px solid #eee;
          color: $brand-dark;
          margin-top: 0.5rem;
          margin-right: 0.5rem;
          height: 2.5rem;
          transition: all 0.3s ease;
          &:hover {
            cursor: pointer;
            background: $brand-secondary;
            color: #fff;
            outline: 0px solid transparent;
            border: 1px solid $brand-secondary;
          }
          &:focus {
            outline: 0px solid transparent;
          }
        }
        & ul {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          padding: 0;
          align-items: flex-start;
          justify-content: flex-start;
          & li {
            list-style: none;
            padding: 0.5rem 1rem;
            background: #eee;
            border-radius: 3px;
            margin: 0.5rem;
            text-transform: uppercase;
            font-size: 0.7rem;
          }
        }
      }
    }
    & .price {
      width: 100%;
      display: flex;
      justify-content: center;
      & p {
        & span {
          color: $brand-secondary;
          font-size: 1.2rem;
          margin-right: 0.5rem;
        }
      }
    }
    & .actions {
      display: flex;
      justify-content: center;
      margin: 1rem 0;
      width: 100%;
      & a {
        width: 6rem;
        text-align: center;
        color: #fff;
        &:hover {
          cursor: pointer;
          background: $brand-secondary;
          color: #fff;
          outline: 0px solid transparent;
          border: 1px solid $brand-secondary;
        }
      }

      & .in_cart {
        background: $brand-secondary;
        color: #fff;
        outline: 0px solid transparent;
        border: 1px solid $brand-secondary;
      }
    }
  }
}
