@import '../../../../sass/variables';
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	min-height: 60vh;
	margin-top: 10vh;
	& .inner {
		width: 60%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 10vh 0;
		& .bread_crumbs {
			display: flex;
			margin: 1rem 0;
			align-items: center;
			width: 100%;
			& a {
				text-decoration: none;
				color: #999;
				display: flex;
				align-items: center;
				margin: 0 0.5rem;
			}
			& .active {
				color: $brand-secondary;
			}
			& p {
				margin: 0;
				color: #999;
			}
		}
		& .item {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
			padding: 2rem;
			border: 1px solid #eee;
			border-radius: 3px;
			width: 100%;
			justify-items: center;
			& .col:nth-child(1) {
				border-right: 1px solid #eee;
			}
			& .col {
				display: flex;
				flex-direction: column;
				justify-content: center;
				width: 100%;
				align-items: center;
				& .image_container {
					max-width: 20rem;
					& img {
						max-width: 100%;
						object-fit: cover;
						transition: all 0.3s ease;
						&:hover {
							transform: scale(1.5);
							cursor: zoom-in;
						}
					}
				}
				& .item_desc {
					width: 100%;
					& h1 {
						text-transform: uppercase;
						font-size: 1.2rem;
					}
					& h3 {
						color: $brand-main;
						font-weight: 200;
						font-size: 1rem;
					}
					& p {
						font-weight: 700;
						font-size: 1rem;
					}
				}
				& form {
					display: flex;
					flex-direction: column;
					width: 100%;
					& label {
						margin: 0.5rem 0;
					}
					& select {
						margin: 0.5rem 0;
						padding: 0.5rem;
						border: 1px solid $brand-dark;
					}
					& button {
						min-height: 3rem;
						background: $brand-dark;
						color: #fff;
						border: 0;
						border-radius: 3px;
						transition: all 0.3s ease-in-out;
						margin-top: 0.5rem;
						&:hover {
							cursor: pointer;
							box-shadow: 0 1px 10px $brand-dark;
						}
					}
				}
				& .checkout_box {
					display: flex;
					flex-direction: column;
					align-items: center;
					width: 100%;
					& .divider {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
						margin: 1rem 0;
						& span {
							width: 90%;
							height: 1px;
							background: $brand-main;
							display: block;
							margin: 0 0.5rem;
						}
					}
					& a {
						width: 100%;
						& button {
							width: 100%;
							min-height: 3rem;
							background: $brand-main;
							color: #fff;
							border: 0;
							border-radius: 3px;
							transition: all 0.3s ease;
							&:hover {
								cursor: pointer;
								box-shadow: 0 1px 10px $brand-main;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.container {
		width: 100%;
		display: flex;
		justify-content: center;
		min-height: 60vh;
		margin-top: 10vh;
		& .inner {
			width: 90%;
			display: flex;
			justify-content: center;
			margin: 10vh 0;
			& .item {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				gap: 1rem;
				padding: 2rem;
				border: 1px solid #eee;
				border-radius: 3px;
				& .col:nth-child(1) {
					border-right: 0;
				}
				& .col {
					display: flex;
					flex-direction: column;
					justify-content: center;

					& .item_desc {
						& h1 {
							text-transform: uppercase;
							font-size: 1.5rem;
						}
						& h3 {
							color: $brand-main;
							font-weight: 200;
							font-size: 1.2rem;
						}
						& p {
							font-weight: 700;
							font-size: 1rem;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 650px) {
	.container {
		& .inner {
			& .item {
				display: grid;
				grid-template-columns: 1fr;
				gap: 1rem;
				padding: 2rem;
				border: 1px solid #eee;
				border-radius: 3px;
				& .col {
					& .image_container {
						max-width: 10rem;
					}
				}
			}
		}
	}
}
