@import '../../../../sass/variables';

.container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	background: #eee;
	padding: 2rem;
	& .inner {
		display: flex;
		justify-content: center;
		width: 90%;
		& .column {
			display: flex;
			flex-direction: column;
			& .grid {
				display: grid;
				grid-template-columns: repeat(4, minmax(20rem, 22rem));
				justify-items: center;
				gap: 1rem;
				& .item {
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					background: #fff;
					padding: 1rem;
					& .img_container {
						max-width: 100%;
						& img {
							max-width: 100%;
						}
					}
					& .item_desc {
						& h3 {
							text-transform: uppercase;
						}
						& p {
							color: $brand-main;
						}
					}
					& button {
						width: 100%;
						padding: 0.6rem;
						background: $brand-dark;
						border: 0;
						color: #fff;
						transition: all 0.3s ease-in-out;
						&:hover {
							cursor: pointer;
							box-shadow: 0 1px 10px $brand-dark;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1400px) {
	.container {
		& .inner {
			& .column {
				& .grid {
					display: grid;
					grid-template-columns: repeat(4, minmax(20vw, 32vw));
					justify-items: center;
					gap: 1rem;
					& .item {
						max-width: 80%;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 900px) {
	.container {
		padding: 2rem 0;
		align-items: center;
		& .inner {
			& .column {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				& .suggested_heading {
					width: 90%;
				}
				& .grid {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
				}
			}
		}
	}
}
