@import '../../../sass/variables';

@font-face {
	font-family: 'Crash';
	src: url('../../fonts/fairwater_sailor_serif.otf');
}
@font-face {
	font-family: 'Reg';
	src: url('../../fonts/OldGrowth-Regular.otf');
}

.nav {
	min-height: 6rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background: $brand-dark;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999999;
	box-shadow: 0 1px 5px darken($brand-dark, 2%);
	& .left {
		display: flex;
		flex-direction: row;
		align-items: center;
		& a {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-around;
			color: #eee;
			font-style: normal;
			font-weight: 700;
			font-style: normal;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 1.2rem;
			height: 100%;
			& svg {
				fill: #fff;
				width: 100%;
				height: auto;
				max-width: 15rem;
			}
		}
	}
	& .right {
		display: grid;
		grid-template-columns: repeat(7, auto);
		grid-template-rows: 1fr;
		gap: 2rem;
		justify-items: center;
		& a {
			color: #bbb;
			font-size: 1.1rem;
			font-weight: 700;
			text-decoration: none;
			text-transform: uppercase;
			transition: all 0.3s ease;
			&:hover {
				color: $brand-accent;
			}
		}
	}
}
